@media only screen and (min-width:992px) and (max-width:1200px){#slideshowContainer{width:25%;}
.homeListingCatMenus{width:25%;}
.catSidersList{width:25%;}
.rightpromotions{width:25%;}
.promotions,
.promotions_blog{width:50%;}
}
@media only screen and (min-width:992px) and (max-width:1280px){div.cart-collaterals ul.products li.product{float:left;margin-left:30px;position:relative;width:160px;}
.coupon input[type="text"]{width:100px;}
input[type="submit"], button[type="submit"]{padding:11px 15px;}
.col-1, .col-2{width:293px;}
}
@media only screen and (min-width:992px) and (max-width:1200px){#headersearch{max-width:200px;width:100%;}
#hotblog-1, #hotblog-2, #hotblog-3{margin-right:16px;}
.navNew{width:60%;}
#hotblog1{margin-left:-61px;}
#hotblog1 > input{height:44px;}
#filterSearchList{width:416px;}
.mega-menu{background:#fff none repeat scroll 0 0;border:1px solid #ddd;border-radius:0 0 3px 3px;left:0%;opacity:1;position:absolute;transition:all 0.3s ease 0.15s;visibility:visible;width:100%;z-index:99999;max-width:1920px;min-width:960px;height:400px;}
}
@media only screen and (min-width:768px) and (max-width:991px){.user-menu, .header-right ul.list-inline{text-align:center;}
.mainmenu-area ul.navbar-nav li a{font-size:14px;padding:15px 10px;}
.single-promo{margin-bottom:30px}
.single-product-widget, .footer-about-us, .footer-menu{margin-bottom:60px;}
.product-widget-area .zigzag-bottom{bottom:-50px;height:100px;}
.product-widget-area{padding-bottom:90px;}
.footer-top-area .zigzag-bottom{bottom:0;height:0px;}
.footer-top-area{padding:35px 0 125px;}
div.cart-collaterals ul.products li.product{width:190px;}
.col-1, .col-2{width:345px;}
.aa-cart-view-btn{float:none;clear:both;margin-top:20px;}
#firstcats1 .desktop,
#FIRSThOMESTYLES #firstcats1 > a{display:none;}
#firstcats2 .mobile{display:block;}
#headersearch,
.navNew select{width:100%;max-width:340px;margin-left:2px;padding:10px 22px;}
#headerfasarch{margin-left:-6px;}
#hotblog-1, #hotblog-2, #hotblog-3{margin-right:6px;}
.navNew{width:52% !important;}
#hotblog{margin-right:10px;}
#hotblog1{margin-left:-60px;}
#firstcats1{width:0px !important;}
.container{padding-right:0 !important;padding-left:0 !important}
.HomemiddlecontBackground .landingContests{width:50%;}
.rightpromotions{width:100%;}
.catSidersList{width:300px;}
#filterSearchList{width:340px;left:2px;}
#filterSearchList_home{left:101px;max-width:500px;width:100%;}
}
@media only screen and (min-width:991px) and (max-width:1198px){.google, .twitter, .facebook{margin-bottom:10px;padding:8px 0;width:150px;}
.footer-wid-title-middles{color:#ffffff;font-size:17px !important;padding-top:30px;}
}
@media only screen and (max-width:991px){.sidenav{display:block;}
.mega-menu{display:none;}
.navNew.home_menu{width:100% !important;}
#FIRSThOMESTYLES #headersearch{width:80%;max-width:500px;}
#FIRSThOMESTYLES .navNew select,
.shopping-item-continue-link-serach,
.home_mobile_header_menu > li{clear:none;float:left;display:inline;}
#firstcats2{display:inline-block;float:left;}
.home_mobile_header_menu{}
#FIRSThOMESTYLES .navNew select{width:100%;max-width:240px;height:40px !important;display:none;}
#catList{display:none;}
#hotblog1 > input{height:43px;}
#FIRSThOMESTYLES #headersearch,
#FIRSThOMESTYLES #firstcats2,
.shopping-item-continue-link-serach,
.home_mobile_header_menu{float:none;clear:both;display:inline-block;}
#FIRSThOMESTYLES #menushovers{text-align:center;}
.static_content > .container > .row{margin:0;}
.cart_login_button a{display:block;margin:10px auto !important;float:none !important;clear:both;width:100%;max-width:320px;}
.aa-cartbox-summary{display:none !important;}
.footer-wid-title-middles{color:#ffffff;font-size:16px;padding-top:30px;}
.footer-social a{background:#5a88ca none repeat scroll 0 0;border:1px solid #5a88ca;color:#ffffff;display:inline-block;font-size:20px;height:40px;margin-bottom:10px;margin-right:0 !important;padding-top:5px;text-align:center;width:40px;}
.copyright { float: left; text-align: center;}

}
@media only screen and (min-width:768px){.header-info{display:block !important;}
}
@media only screen and (max-width:767px){.user-menu, .header-right ul.list-inline{text-align:center;}
.logo h1{font-size:30px;margin:2px 0;text-align:center;}
.shopping-item{float:none;margin-bottom:20px;margin-top:5px;text-align:center;}
.navbar-header{text-align:center;}
.navbar-toggle{border-color:#fff;float:none;margin:10px auto;}
.navbar-toggle .icon-bar{background:none repeat scroll 0 0 #333}
.navbar-collapse.collapse.in{background:none repeat scroll 0 0 #f4f4f4;position:relative;z-index:99;}
.mainmenu-area ul.navbar-nav li a{padding:15px;}
.mainmenu-area{position:relative !important}
.slide-text{font-size:16px;}
.slide-text h2{font-size:30px;}
.readmore{font-size:16px;padding:8px 20px;}
.single-promo{margin-bottom:30px;}
.section-title{font-size:35px;}
.product-widget-area .zigzag-bottom{bottom:-50px;height:100px;}
.product-widget-area{padding-bottom:90px;}
.footer-top-area .zigzag-bottom{bottom:0px;height:0px;}
.footer-top-area{padding:35px 0 4px;text-align:center;}
.footer-top-area input{max-width:300px;}
.single-product-widget, .footer-about-us, .footer-menu{margin-bottom:60px;}
.product-wid-title{font-size:25px;}
.related-products-wrapper .owl-nav{left:-15px;position:relative;right:inherit;top:15px;}
div.cart-collaterals ul.products{margin:0;}
div.cart-collaterals ul.products li.product{margin-bottom:30px;margin-left:0;width:100%;}
div.cart-collaterals ul.products li.product img{width:100%}
.product-bit-title h2{font-size:35px;padding:40px 0;}
.col2-set{margin-left:0;}
.col-1, .col-2{float:none;margin-left:0;width:inherit;}
table.shop_table th, table.shop_table td{font-size:12px;padding:5px;}
td.product-thumbnail img{width:30px;}
div.quantity input.plus, div.quantity input.minus{display:none;}
table.shop_table th{font-size:12px;}
div.coupon input[type="text"]{width:100px;}
.coupon{margin-bottom:10px}
.cross-sells{float:none;margin-bottom:30px;margin-right:0;width:100%;}
.cart_totals, .cart-collaterals .shipping_calculator{float:none;margin-bottom:40px;width:100%;}
.header-info div{border-left:0;}
#firstcats1{width:0 !important;}
#firstcats2 .mobile{display:block;}
.navNew{width:100% !important;}
#headersearch{width:72%;max-width:400px;display:inline;margin:0px auto 18px;padding:5px 11px;}
#headerfasarch,
#firstcats1 .desktop,
#FIRSThOMESTYLES #firstcats1 > a{display:none;}
#menushovers{padding:0 15px;}
#hotblog1{display:none;}
.navNew select{width:100%;max-width:210px;height:30px !important;margin-left:0 !important;line-height:30px !important;}
#hotblog-1, #hotblog-2, #hotblog-3{margin-right:2px;margin-top:-10px;}
#mobile_search{display:inline;}
.header_categories{display:inline;margin:0 auto;width:100%;text-align:center;}
#hotblog{margin-top:0;}
.footer-bottom-area{text-align:center;}
.HomemiddlecontBackground .landingContests{width:100%;border-bottom:1px solid #DFDFDF;}
.promotions_blog{display:none;}
.gift_text{position:relative;padding:20px 0px 10px;font-size:20px;margin-left:0;}
.gift_white{color:#000;border-color:#000;}
.aa-cartbox-summary{display:none !important;}
.recommend-classes ul li a{text-align:center;display:block;}
.mobile-info{display:block;}
.header-info{display:none;}
.footer-wid-title-middles{font-size:15px;padding-top:15px;}
.footer-wid-title{font-size:15px;}
.newsletter-form{margin-top:15px;}
.newsletter-form input[type="button"]{padding:1px 16px;}
.footer-social{margin-top:2px;}
.footer-about-us{margin-bottom:12px;}
.navNew{width:100%;max-width:740px;margin:0 auto !important;display:block !important;text-align:center;}
#FIRSThOMESTYLES #headersearch{margin-top:0;}
#FIRSThOMESTYLES #headersearch{width:54%;margin:0;}
#firstcats2 > .mobile{margin:2px !important;}
.shopping-item-continue-link-serach{margin-top:-1px;}
.titleOffootermain{margin-top:9px;color:#696966;font-size:16px;font-weight:bold;margin-bottom:0;}
.FooterUlLi li a{font-size:14px;}
.footer-bottom-area .container .row > div{margin-bottom:11px;}
.home-h1{text-align:center;padding-top:0px;}
.shopping-item-continue{float:none;width:100%;max-width:160px;margin:0 auto;}
.site-branding-area-new{top:25px;}
.header_info_active{top:126px !important;}
#mobile_search > #mobileSearchIds{padding:4px 20px;height:33px;}
.cartcoutview{background-color:#FF6632;border-radius:15px;color:#000;height:28px;line-height:29px;position:absolute;right:33px;text-align:center;top:25px;width:26px;}
}
#FIRSThOMESTYLES #menushovers{margin-top:20px !important;padding:0;}
@media only screen and (min-width:481px) and (max-width:767px){#slideshowContainer,
.homeListingCatMenus,
.catSidersList,
.rightpromotions{width:100%;}
}
@media only screen and (min-width:320px) and (max-width:767px){
	
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
.boxcolorchange {
	width: 100% !important;
	background-color: #f1eef0;
	margin-right: 40px;
	margin-bottom: 40px;
}
.cart-area .cart-view-table .table tbody tr .aa-cart-view-bottom .cart-coupon,
.cart-view-table .table-responsive .aa-cart-view-bottom .aa-cart-view-btn{float:none;margin-top:20px;}
.cart-area .cart-view-table .aa-cart-view-btn{font-size:12px;padding:10px;}
.cart-area .cart-view-table .table tbody tr .aa-cart-view-bottom .cart-coupon .aa-coupon-code{font-size:12px;margin-right:10px;min-width:100px;padding:8px;width:100px;}
.cart-area .cart-view-table .table tbody tr td img{height:40px;width:40px;}
.cart-area .cart-view-table .table tbody tr .aa-cart-view-bottom{padding:10px;}
.cart-area .cart-view-table .cart-total{max-width:100%;}
.hp07w3{display:none !important;}
.hp07w2{background:transparent;}
.dealsBanner,
#slideshowContainer,
.catSidersList,
.rightpromotions,
.heading_back_2{display:none;}
.homeListingCatMenus{height:auto;}
.mobile_heading{display:block;}
.recommend-classes ul{display:none;}
#catList{display:none;}
}
@media only screen and (max-width:480px){.cart-area .cart-view-table .table tbody tr td img{height:15px;width:15px;}
#FIRSThOMESTYLES .navNew select{width:100%;max-width:130px;height:40px !important;}
.shopping-item-continue-link-serach{margin:2px 0 0 0px;padding:10px 15px;}
#mobileSearchIds{background-color:#C60A16;height:15px;padding:0px 0px;color:#fff;font-size:13px;}
#slideshowContainer,
.homeListingCatMenus,
.catSidersList,
.rightpromotions,
.promotions{width:100%;text-align:center;}
.row{margin-right:0;margin-left:0;}
#hotblog{display:none;}
.cart_login_button a{display:block;margin:10px;clear:both;float:none !important;}
.blog_link{display:block;}
#firstcats2 {
	max-width: 35px;
	height: 28px;
	margin-left: -40px;
}
#firstcats2 > .mobile {
	margin: -7px !important;
}
#hotblog-1, #hotblog-2, #hotblog-3 {
	margin-right: 2px;
	margin-top: 2px;
}
.logo {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#banner-section .carousel {
	position: relative;
	width: 100%;
	height: 200px !important;
	overflow: hidden;
}
#banner-section {
	margin-top: 0px !important;
	/* height: 200px; */
}
#banner-section .carousel {
/*	height: 200px; 
*/	}
.header_info_active{top:146px !important;}
#mobile_search > #mobileSearchIds{padding:6px;height:30px;}
#mobile_search {
	display: inline;
	background-color: #FF6632;
	padding: 7px;
	border-radius: 3px;
}
.cartcoutview{background-color:#FF6632;border-radius:15px;color:#000;height:28px;line-height:29px;position:absolute;right:35px;text-align:center;top:40px;width:26px;}
#gift_voucher label{width:200px;margin:4px auto;display:block;clear:both;float:none;}
#gift_voucher div{width:100%;margin:4px auto;display:block;clear:both;float:none;}
#gift_voucher input,
#gift_voucher select,
#gift_voucher textarea{clear:both;float:none;margin:0 auto;}
}
@media only screen and (max-width:400px){.row.home-menus{margin-top:10px;}
.shopping-item-continue-link{margin:10px auto 5px;}
#FIRSThOMESTYLES #headersearch{width:50%;margin:0;font-size:12px;padding:11px 10px;}
#FIRSThOMESTYLES .container{padding:0;}
.shopping-item-continue-link a{font-size:12px;}
.shopping-item-continue-link{padding:6px 0px;}
.HomemiddlecontBackground{margin-top:10px;}
}
@media only screen and (min-width:768px) and (max-width:790px){.cartcoutview{right:6%;}.hidingheader{display: none;}#banner-section {
    margin-top: 2px !important;
}

}
@media only screen and (min-width:791px) and (max-width:820px){.cartcoutview{right:8%;}.hidingheader{display: none;}#banner-section {
    margin-top: 2px !important;
}

}
@media only screen and (min-width:821px) and (max-width:850px){.cartcoutview{right:9%;}.hidingheader{display: none;}#banner-section {
    margin-top: 2px !important;
}

}
@media only screen and (min-width:851px) and (max-width:880px){.cartcoutview{right:10%;}.hidingheader{display: none;}#banner-section {
    margin-top: 2px !important;
}

}
@media only screen and (min-width:881px) and (max-width:991px){.cartcoutview{right:15%;}.hidingheader{display: none;}#banner-section {
    margin-top: 2px !important;
}

}
@media only screen and (min-width:992px) and (max-width:1040px){.cartcoutview{right:9%;}
}
@media only screen and (min-width:1200px) and (max-width:1201px){.cartcoutview{right:8%;}
}
@media only screen and (min-width:750px) and (max-width:767px){#filterSearchList{width:54.4%;left:18.2%;top:32px;}
#filterSearchList_home{left:18%;top:64px;max-width:398px;width:100%;}
}
@media only screen and (min-width:740px) and (max-width:749px){#filterSearchList_home{left:18%;top:64px;max-width:386px;width:100%;}
#banner-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width:650px) and (max-width:749px){#filterSearchList{width:59.2%;left:15.2%;top:32px;}
#filterSearchList_home{top:65px;width:50%;z-index:9999;left:18%;}
#banner-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width:640px) and (max-width:649px){#filterSearchList{width:65%;left:12%;top:32px;}
#filterSearchList_home{top:65px;width:51%;left:17%;}
#banner-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width:620px) and (max-width:639px){#filterSearchList{width:67.5%;left:10.5%;top:32px;}
#filterSearchList_home{top:65px;width:51%;left:17%;}
#banner-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width:580px) and (max-width:619px){#filterSearchList{width:72%;left:8%;top:32px;}
#filterSearchList_home{top:65px;width:51%;left:17%;}
#banner-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width:500px) and (max-width:579px){#filterSearchList{width:72%;left:7%;top:32px;}
#filterSearchList_home{top:65px;width:50%;left:16%;}
#banner-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width:481px) and (max-width:579px){#filterSearchList{top:32px;width:71%;left:7%;}
#filterSearchList_home{top:65px;width:50%;left:16%;}
#banner-section {
    margin-top: 0px !important;
}

}
@media only screen and (min-width:400px) and (max-width:480px){#filterSearchList{top:32px;width:71%;left:6%;}
#filterSearchList_home{top:65px;width:45%;left:21%;}
.inline-mode.icons-large{padding:0 !important;}
.g-recaptcha iframe{float:left;width:100%;}
.rc-anchor-logo-img-portrait{background-size:32px auto;height:32px;margin:0;width:32px;}
.rc-anchor-logo-portrait{-moz-user-select:none;margin:10px 0 0 -4px;width:58px;}
}
@media only screen and (min-width:300px) and (max-width:399px){#filterSearchList{top:32px;width:71%;left:1%;}
#filterSearchList_home{top:65px;width:45%;left:19%;}
.btn-group.wishlist{margin:10px 0;}
.g-recaptcha iframe{float:left;width:100%;}
.rc-anchor-logo-img-portrait{background-size:32px auto;height:32px;margin:0;width:32px;}
.rc-anchor-logo-portrait{-moz-user-select:none;margin:10px 0 0 -4px;width:58px;}
#banner-section {
	margin-top: 2px !important;
	/* height: 200px; */
}
.hidingheader{display: none;}

}
@media only screen and (min-width:376px) and (max-width:766px){.HeaderTopBackground,
.site-branding-area-new{position:relative;width:100%;top:auto;}
#aa-product-category,
.item-container,
.header_info_active2{margin-top:0 !important;}
.header_info_active{top:0 !important;}
.hp07v0{margin-top:0 !important;}
.hidingheader{display: none;}
}
@media only screen and (min-width:1023px) and (max-width:1025px){.mega-menu{overflow-y:scroll;}
}
@media only screen and (max-width:580px){#myTab li a{border:1px solid #ddd;}
}
@media only screen and (max-width:449px){.g-recaptcha iframe{float:left !important;width:100% !important;}
.rc-anchor-logo-img-portrait{background-size:32px auto;height:32px;margin:0 -13px !important;width:32px;}
.rc-anchor-logo-portrait{-moz-user-select:none;margin:10px 0 0 -38px !important;width:52px;}
.rc-anchor-normal .rc-anchor-pt{margin:4px 13px 0 0;padding-right:2px;position:absolute;right:0;text-align:left !important;width:247px !important;}
.rc-anchor-logo-img-portrait{background-size:32px auto;height:32px;margin:0 13px !important;width:32px;}
.rc-anchor-normal{height:74px;width:100%;}
.recaptcha-checkbox-border{background-color:#ffffff;border:2px solid #c1c1c1;border-radius:2px;font-size:1px;height:17px;position:absolute;width:17px !important;}
.rc-anchor-normal .rc-anchor-checkbox-label{width:94px !important;}
}