/*css file*/
.pagin {
padding: 10px 0;
font:bold 11px/30px arial, serif;
float:right;
}
.pagin * {
padding: 2px 6px;
color:#666;
margin: 2px;
/*border-radius:3px;
*/}
.pagin a {
		border:solid 1px #EBEBEB;
		text-decoration:none;
		background:#EBEBEB;
		padding: 7px 9px 6px;
}
.pagin span, .pagin span a:hover, .pagin a:active,.pagin span.current {
		color:#FFFFFF;
/*		background:-moz-linear-gradient(top,#B4F6FF 1px,#63D0FE 1px,#58B0E7);
*/		background-color:#45abc2;
		    
}
.pagin span,.current{
	padding: 8px 10px 7px;
}
.outer_div{
	margin:auto;
	width:777;
}
#loader{
	/*position: absolute;
	text-align: center;
	top: 75px;
	width: 100%;*/
	display:none;
}

